<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hubpd.bigscreen.mapper.uar_statistic.AppAtDayMapper">
    <resultMap id="BaseResultMap" type="com.hubpd.bigscreen.bean.uar_statistic.AppAtDay">
        <id column="at" property="at" jdbcType="VARCHAR"/>
        <id column="day" property="day" jdbcType="INTEGER"/>
        <result column="pv" property="pv" jdbcType="INTEGER"/>
        <result column="uv" property="uv" jdbcType="INTEGER"/>
        <result column="visit" property="visit" jdbcType="INTEGER"/>
        <result column="visittime" property="visittime" jdbcType="REAL"/>
        <result column="n_user" property="nUser" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        at, day, pv, uv, visit, visittime, n_user
    </sql>

    <!--获取指定appkey的应用在指定时间的新增和活跃用户-->
    <select id="getNewUVAndActiveUVByAppKeySetAndDay" resultType="com.hubpd.bigscreen.dto.AppAtDayDTO"
            parameterType="map">
        SELECT
        IFNULL(SUM(n_user),0) AS 'newUV',
        IFNULL(SUM(uv),0) AS 'activeUV'
        FROM app_at_day
        WHERE at in
        <foreach collection="appKeySet" item="appKey"
                 index="index" open="(" close=")" separator=",">
            #{appKey}
        </foreach>
        <if test="searchDay !=null and searchDay != ''">
            and day = #{searchDay}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppAtDayKey">
        select
        <include refid="Base_Column_List"/>
        from app_at_day
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppAtDayKey">
        delete from app_at_day
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppAtDay">
        insert into app_at_day (at, day, pv,
        uv, visit, visittime,
        n_user)
        values (#{at,jdbcType=VARCHAR}, #{day,jdbcType=INTEGER}, #{pv,jdbcType=INTEGER},
        #{uv,jdbcType=INTEGER}, #{visit,jdbcType=INTEGER}, #{visittime,jdbcType=REAL},
        #{nUser,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppAtDay">
        insert into app_at_day
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="at != null">
                at,
            </if>
            <if test="day != null">
                day,
            </if>
            <if test="pv != null">
                pv,
            </if>
            <if test="uv != null">
                uv,
            </if>
            <if test="visit != null">
                visit,
            </if>
            <if test="visittime != null">
                visittime,
            </if>
            <if test="nUser != null">
                n_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="at != null">
                #{at,jdbcType=VARCHAR},
            </if>
            <if test="day != null">
                #{day,jdbcType=INTEGER},
            </if>
            <if test="pv != null">
                #{pv,jdbcType=INTEGER},
            </if>
            <if test="uv != null">
                #{uv,jdbcType=INTEGER},
            </if>
            <if test="visit != null">
                #{visit,jdbcType=INTEGER},
            </if>
            <if test="visittime != null">
                #{visittime,jdbcType=REAL},
            </if>
            <if test="nUser != null">
                #{nUser,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppAtDay">
        update app_at_day
        <set>
            <if test="pv != null">
                pv = #{pv,jdbcType=INTEGER},
            </if>
            <if test="uv != null">
                uv = #{uv,jdbcType=INTEGER},
            </if>
            <if test="visit != null">
                visit = #{visit,jdbcType=INTEGER},
            </if>
            <if test="visittime != null">
                visittime = #{visittime,jdbcType=REAL},
            </if>
            <if test="nUser != null">
                n_user = #{nUser,jdbcType=INTEGER},
            </if>
        </set>
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppAtDay">
        update app_at_day
        set pv = #{pv,jdbcType=INTEGER},
        uv = #{uv,jdbcType=INTEGER},
        visit = #{visit,jdbcType=INTEGER},
        visittime = #{visittime,jdbcType=REAL},
        n_user = #{nUser,jdbcType=INTEGER}
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
    </update>
</mapper>