<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hubpd.bigscreen.mapper.uar_statistic.AppUlcAtHourMapper">
    <resultMap id="BaseResultMap" type="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHour">
        <id column="at" property="at" jdbcType="VARCHAR"/>
        <id column="day" property="day" jdbcType="INTEGER"/>
        <id column="hour" property="hour" jdbcType="INTEGER"/>
        <result column="n_user" property="nUser" jdbcType="INTEGER"/>
        <result column="activity_user" property="activityUser" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        at, day, hour, n_user, activity_user
    </sql>

    <!--获取指定appkey集合的今日新增用户数-->
    <select id="getTodayNewUser" resultType="java.lang.Long" parameterType="map">
        SELECT
        IFNULL(SUM(n_user),0)
        FROM app_ulc_at_hour
        WHERE AT IN
        <foreach collection="appKeySet" item="appKey"
                 index="index" open="(" close=")" separator=",">
            #{appKey}
        </foreach>
        AND DAY = DATE_FORMAT(CURRENT_DATE, '%Y%m%d')
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHourKey">
        select
        <include refid="Base_Column_List"/>
        from app_ulc_at_hour
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
        and hour = #{hour,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHourKey">
        delete from app_ulc_at_hour
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
        and hour = #{hour,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHour">
        insert into app_ulc_at_hour (at, day, hour,
        n_user, activity_user)
        values (#{at,jdbcType=VARCHAR}, #{day,jdbcType=INTEGER}, #{hour,jdbcType=INTEGER},
        #{nUser,jdbcType=INTEGER}, #{activityUser,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHour">
        insert into app_ulc_at_hour
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="at != null">
                at,
            </if>
            <if test="day != null">
                day,
            </if>
            <if test="hour != null">
                hour,
            </if>
            <if test="nUser != null">
                n_user,
            </if>
            <if test="activityUser != null">
                activity_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="at != null">
                #{at,jdbcType=VARCHAR},
            </if>
            <if test="day != null">
                #{day,jdbcType=INTEGER},
            </if>
            <if test="hour != null">
                #{hour,jdbcType=INTEGER},
            </if>
            <if test="nUser != null">
                #{nUser,jdbcType=INTEGER},
            </if>
            <if test="activityUser != null">
                #{activityUser,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHour">
        update app_ulc_at_hour
        <set>
            <if test="nUser != null">
                n_user = #{nUser,jdbcType=INTEGER},
            </if>
            <if test="activityUser != null">
                activity_user = #{activityUser,jdbcType=INTEGER},
            </if>
        </set>
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
        and hour = #{hour,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hubpd.bigscreen.bean.uar_statistic.AppUlcAtHour">
        update app_ulc_at_hour
        set n_user = #{nUser,jdbcType=INTEGER},
        activity_user = #{activityUser,jdbcType=INTEGER}
        where at = #{at,jdbcType=VARCHAR}
        and day = #{day,jdbcType=INTEGER}
        and hour = #{hour,jdbcType=INTEGER}
    </update>
</mapper>